<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">

</head>

<body>
    <div id="app">
        <div v-show="finished" class="container-fluid text-center mt-5">
            <h3>Grazie per aver partecipato al test</h3>
        </div>
        <div v-show="!hasCookie && !finished">
            <div v-show="isChrome" class="container-fluid text-center mt-5">
                <h1>Test</h1>
                <p>Terms of use</p>
                <p>Siegazione</p>
                <label for="terms">Prosegui il test</label>
                <input type="checkbox" name="terms" id="terms" v-model="terms" required>
                <br>
                <p style="color:red">{{ (termserr) ? 'Accetta i termini per continuare' : ''}}</p>
                <input type="submit" @click="starttest" class="btn btn-primary">
            </div>
            <div v-show="!isChrome">
                Usa Chrome dal PC per completare il test
            </div>
        </div>
        <div v-show="hasCookie && !finished">
            <div class="video-wrapper embed-responsive-item">
                <video class="video embed-responsive-item" id="videotest" ref="videotobeplayed"
                    @timeupdate="videoupdate">
                    <source v-bind:src="video" type="video/mp4">
                </video>
                <div v-if="videoerror" class="error text-center font-weight-bold">
                    <h1>Errore nella riproduzione, ricarica la pagina</h1>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col text-left">
                        <div class="text-left">
                            <button type="button" class="btn btn-primary" @click="startvideo">Start video</button>
                        </div>
                    </div>
                    <div class="col text-right">
                        <div class="text-right">
                            Scendi nella pagina per continuare
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 text-right " style="position: relative;">
                        <span class="go-bot-right">Molto leggero</span>
                    </div>
                    <div class="col text-center font-weight-bold">
                        <label for="peso">Peso</label>
                        <input type="range" class="custom-range" min="0" max="10" id="peso" step="1" v-model="weight">
                    </div>
                    <div class="col-md-1 text-left " style="position: relative;">
                        <span class="go-bot-left">Molto pesante</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 text-right " style="position: relative;">
                        <span class="go-bot-right">Molto leggero</span>
                    </div>
                    <div class="col text-center font-weight-bold">
                        <label for="mascolinita">Mascolinità</label>
                        <input type="range" class="custom-range" min="0" max="10" id="mascolinita" step="1"
                            v-model="masc">
                    </div>
                    <div class="col-md-1 text-left " style="position: relative;">
                        <span class="go-bot-left">Molto pesante</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <div class="text-right">
                            <button type="button" class="btn btn-success" @click="nextVideo">Passa al prossimo
                                video</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/index.js"></script>

</body>

</html>